/* .card {
  width: 18rem;
  margin: 1rem;
  background: rgba(76, 66, 152, 0.661);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.card .imagen {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -30px;
  left: 0;
  cursor: pointer;
}

.card .card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 10px;
}
 */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background: #f3f3f3;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.Name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.Types {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaciado entre elementos */
}

.Types span {
  font-size: 1em;
  padding: 2px 5px;
}

.Types svg {
  /* Asegúrate de que el ícono esté a la misma altura que el texto */
  vertical-align: middle;
}

.bug {
  background-color: rgb(157 193 48);
}

.dark {
  background-color: rgb(95 96 109);
}

.dragon {
  background-color: rgb(7 115 199);
}

.electric {
  background-color: rgb(244 206 70);
}

.fairy {
  background-color: rgb(239 151 230);
}

.fight {
  background-color: rgb(217 66 86);
}

.fire {
  background-color: rgb(248 165 79);
}

.flying {
  background-color: rgb(155 180 232);
}

.ghost {
  background-color: rgb(105 112 197);
}

.grass {
  background-color: rgb(93 190 98);
}

.ground {
  background-color: rgb(215 133 85);
}

.ice {
  background-color: rgb(126 212 201);
}

.normal {
  background-color: rgb(154 157 161);
}

.poison {
  background-color: rgb(181 99 206);
}

.psychic {
  background-color: rgb(181 99 206);
}

.rock {
  background-color: rgb(206 193 140);
}

.steel {
  background-color: rgb(85 150 164);
}

.water {
  background-color: rgb(85 158 223);
}
