/* .card {
  width: 18rem;
  margin: 1rem;
  background: rgba(76, 66, 152, 0.661);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.card .imagen {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -30px;
  left: 0;
  cursor: pointer;
}

.card .card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 10px;
}
 */

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #ededed;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 2em;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.454);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: -5rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  margin-top: 1rem;
}
.Name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.Types {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.TypeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
}
.TypeContainer h4 {
  margin-right: 5px;
  color: white;
}
.TypeText p {
  margin-bottom: 0;
}

.TypeText h4 {
  margin-top: 0;
}

.deleteBtn {
  background-color: transparent;
  margin: none;
  padding: 0px;
  font-size: 0.6em;
}
/* 
.Name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.TypesContainer {
  display: flex;
  align-items: space-between;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 1.25em;
  padding: 0.25em;
  position: relative;
  top: -100px;
}

.Types {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0.5em;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin: 0 0.25em;
}

.Types span {
  font-size: 1em;
  padding: 2px 5px;
} */

.bug {
  background-color: rgb(157 193 48);
}

.dark {
  background-color: rgb(95 96 109);
}

.dragon {
  background-color: rgb(7 115 199);
}

.electric {
  background-color: rgb(244 206 70);
}

.fairy {
  background-color: rgb(239 151 230);
}

.fighting {
  background-color: rgb(217 66 86);
}

.fire {
  background-color: rgb(248 165 79);
}

.flying {
  background-color: rgb(155 180 232);
}

.ghost {
  background-color: rgb(105 112 197);
}

.grass {
  background-color: rgb(93 190 98);
}

.ground {
  background-color: rgb(215 133 85);
}

.ice {
  background-color: rgb(126 212 201);
}

.normal {
  background-color: rgb(154 157 161);
}

.poison {
  background-color: rgb(125, 69, 199);
}

.psychic {
  background-color: rgb(181 99 206);
}

.rock {
  background-color: rgb(206 193 140);
}

.steel {
  background-color: rgb(85 150 164);
}

.water {
  background-color: #559edf;
}

.shadow {
  background-color: rgb(45, 53, 59);
}

.unknown {
  background-color: #dadc8e;
}
