.Landing {
  background-color: rgb(248 165 79);
  height: 100vh;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.LandingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes moveFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.charizardGif {
  margin-top: -5rem;
  width: 200px;
  animation: moveFromRight 10s linear infinite;
  z-index: 2;
}

.logoContainer {
  transform: scale(1.3); /* Aumenta el tamaño del logo 4 veces */
}

.LandingBotonContainer {
  margin-top: 3em;
}

.botonHome {
  background-color: #edbc06; /* color de fondo */
  color: white; /* color del texto */
  font-family: "Arial", sans-serif;
  font-weight: bold; /* texto en negrita */

  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* añade un poco de padding alrededor del texto */
  text-align: center; /* centra el texto en el botón */
  text-decoration: none; /* remueve el subrayado por defecto en algunos navegadores */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* cambia el cursor cuando pasas por encima del botón */
  transition: 0.3s;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); /* aplica una sombra */
}

.botonHome:hover {
  transform: scale(1.1); /* agranda el botón */
}
