input[type="checkbox"] {
  appearance: none;
}

input[type="checkbox"] + .checkmark {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #edbc06;
  border: 1px solid #555;
  border-radius: 4px;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: #edbc06;
}

input[type="checkbox"]:checked + .checkmark:after {
  content: "x";
  position: absolute;
  left: 5px;
  top: 2px;
}
